.title{
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0px;
    top: 0px;
    
    background: rgba(87, 104, 255, 0.4);
}
.titletext{
    position: absolute;
    width: 60%;
    left: 27%;
    height: 60%;
    top: 20%;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.done{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 90%;
    
    background: rgba(87, 104, 255, 0.8);

}

.submit-button{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 46%;
    top: 5%;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.differentgames{
    position: relative;
    top: 20%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.button{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    align-self: center;
    border-radius: 50%;
    margin-right: 10%;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.placeholder{
    visibility: hidden;
    position: relative;
    padding-bottom: 9%;
}

.page{
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
.home{
    position: absolute;
    width: 9.5%;
    left: 2%;
    height: 60%;
    top: 20%;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;

    border-style: solid;
    
    color: #424242;
}